.boxAbout{
    /* margin-top: 25px; */
    padding-bottom: 10px;
}

.text{
    background-image: url(../Assets/Img/pokedex-pantalla-corto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "pokeletra";
    src: url("../.././public/Pokemon\ Solid.ttf");
}

.title{
    font-family: "pokeletra";
    letter-spacing: 4px;
}

.poke-Info{
    font-family: "pokeletra";
    letter-spacing: 3px
}

.seconds-Titles{
    font-family: "pokeletra";
    letter-spacing: 4px;
}

.paragraphs{
    font-family: "pokeletra";
    letter-spacing: 2px;
}
