.boxAbout {
  background-color: rgba(240, 248, 255, 0.635);
  padding-bottom: 10px;
}

.text {
  background-image: url("../Assets/Img/fondo-about-comic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "pokeletra";
  src: url("../.././public/Pokemon\ Solid.ttf");
}

@font-face {
  font-family: "letracomic";
  src: url("../.././public/Webcomic.otf");
}

.title {
  font-family: "letracomic";
  text-decoration: underline;
  color: black;
}

.poke-Info {
  font-family: "letracomic";
  color: black;
}

.seconds-Titles {
  font-family: "letracomic";
  text-decoration: underline;
  color: black;
}

.paragraphs {
  font-family: "letracomic";
  color: black;
}
