.boxPokedex{
    background-color: red;
}

@font-face {
    font-family: "pokeletra";
    src: url("../.././public/Pokemon\ Solid.ttf");
}

.poke-Card-info{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}