.boxPokedex{
    background-color: red;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.pokedex-title{
    display: flex;
    justify-content: center;
}

.pokedex-Search{
    display: flex;
    border-radius: 5px;
}

.button-Search{
    border-radius: 5px;
}

@font-face {
    font-family: "pokeletra";
    src: url("../.././public/Pokemon\ Solid.ttf");
}

.poke-Card{
    display: flex;
    justify-content: center;
}

.poke-Card-info{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25%;
}

.favorite-button{
    display: flex;
    border-radius: 5px;
    width: 70px;
}

/* .pokeName-Search{
    
} */

.dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: inset;
    border-color: black;
    font-family: "pokeletra2";
    letter-spacing: 4px;
    border-radius: 12px;
    font-weight: bold;
    position: relative;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(6, 205, 205, 0.756);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropbtn:hover{
    cursor: grab;
    background-color: rgba(247, 247, 247, 0.282);
    border: none;
    text-shadow: 1px 1px gold;
}

.dropbtn:active{
    cursor: grabbing;
}

.dropbtn:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,gold,white,gray,white,gold,white,gray,white
    );
    background-size: 800%;
    border-radius: 12px;
    filter: blur(15px);
    animation: glowing 20s linear infinite;
}
